# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# gradle
.gradle/
build/
out/

# ide
.idea/
*.iml
.env
.env.*
!.env.example

# macOS
.DS_Store
